<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>اضافه کردن دانشجو</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f3f1e7;
        }

        .container-box {
            margin-top: 60px;
            max-width: 900px;
        }

        th {
            background-color: #3a6ea5;
            color: white;
        }
    </style>
</head>

<body>

<div class="container container-box">
    <div class="card shadow p-4">

        <h4 class="text-center mb-3">
            👨‍🏫 اضافه کردن دانشجو به درس
        </h4>

        <div th:if="${addStudentSuccess}" style="margin-bottom:15px; color:green;">
            <span th:text="${addStudentSuccess}"></span>
        </div>

        <p class="text-center text-muted mb-4">
            <strong th:text="${course.title}"></strong>
            (<span th:text="${course.courseCode}"></span>)
        </p>

        <table class="table table-bordered table-hover table-striped text-center align-middle">
            <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th style="width: 180px;">Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="t : ${allStudents}">
                <td th:text="${t.username}"></td>
                <td th:text="${t.fullName}"></td>

                <td>
                    <form th:action="@{/course/{code}/add-student(code=${course.courseCode})}"
                          method="post">

                        <input type="hidden" name="username" th:value="${t.username}"/>

                        <button type="submit"
                                class="btn btn-sm btn-success"
                                onclick="return confirm('آیا این دانشجو به درس اضافه شود؟');">
                            ✔اضافه کردن دانشجو
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- اگر دانشجویی باقی نمونده -->
        <div th:if="${#lists.isEmpty(allStudents)}"
             class="alert alert-warning text-center">
            هیچ دانشجوی جدیدی برای انتخاب وجود ندارد
        </div>

        <div class="text-center mt-4">
            <a th:href="@{/course/info/{code}(code=${course.courseCode})}"
               class="btn btn-secondary px-4">
                ⬅ بازگشت به اطلاعات درس
            </a>
        </div>

    </div>
</div>

</body>
</html>
